{% extends 'index.html' %}
{% load static %}
{% block title %}Rahul{% endblock %}

{% block content %}

<div class="main">
    <div class="author text-white">
        <h1 class="author_heading">Rahul Rajput</h1>
        <p class="author_body">Web developer and content creator</p>
    </div>

    <img src="{% static 'image/hero-image.webp' %}" alt="" class="hero-image" width="987" height="528">



    <section class="article text-white" id="post">
       


        <h2 class="article_heading">Latest Posts</h2>
        
        <div class="input-group rounded mt-4">
            
            <input type="search" class="form-control rounded border-0" style="margin-right: 20px;" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />

            <span class="input-group-text border-0 rounded bg-transparent text-white" id="search-addon">
                <i class="fas fa-search"></i>
            </span>

        </div>
        
        <ul class="article_ul">
            <!--  -->
            {% for i in page_obj %}
            <li>
                <a href="{% url 'post' i.slug %}">
                    <span>{{i.title}}</span>
                    <span class="article-list_date">{{i.created_at}}</span>
                </a>
            </li>
            <!--  -->
            {% endfor %}


        </ul>

        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}" class="pagination">&lt; View Older Posts</a>
        {% endif %}

        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}" class="pagination">View Newer Posts &gt;</a>
        {% endif %}

    </section>

</div>
{% endblock %}