{% extends 'index.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="text-white mt-4 mb-4 bg-success text-center rounded-5">
  <span>{{message}}</span>
</div>
{% endfor %}
{% endif %}

<div class="text-white mt-4 mb-4">
    <h3>Profile</h3>
    
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Update" class="btn">
        <a href="{% url 'home' %}" class="btn">Back</a>
      </form>
</div>

{% endblock %}